.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
        border: none;
        height: 2px;
        background-color: #ddd;
        opacity: 0.1;
        border-radius: 5px;
        margin: 20px 0px;
    }

    .title {
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .chat-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
    }

    .chat-item:hover {
        background-color: #2c2937;
        color: white;
    }



    .delete-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .chat-item:hover .delete-button {
        opacity: 1;
    }

    .delete-button svg {
        width: 16px;
        height: 16px;
        color: #ff6b6b;
    }

    .delete-button:hover svg {
        color: #ff4a4a;
    }

    /* Hiding scrollbar in Webkit-based browsers (Chrome, Safari) */
    .list::-webkit-scrollbar {
        display: none;
    }

    /* Optional: Prevent scrollbar while still making the list scrollable */
    .list {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    a {
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: #2c2937;
        }
    }

    .upgrade {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        img {
            width: 24px;
            height: 24px;
        }

        .texts {
            display: flex;
            flex-direction: column;

            span {
                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    color: #888;
                }
            }
        }
    }
}